<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
      <ion-img src="/assets/imagens/8.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>GUIA TURISTICO I WANT TO KNOW</ion-card-subtitle>
      <ion-card-title>SEJA BEM VINDO</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Aqui na nossa APP terás há oportunidade de saber mais sobre as provinias de Angola.
        Escolha os melhores sitios para se visitar.
        Aproevite ao máximo a sua estadia em uma das provinias!.</p>
   

  <ion-slides pager>

    <ion-slide class = "slides_image" >
      <ion-img src="/assets/imagens/3.jpg"></ion-img>
      <a (click)=" goToPage() "> Saiba mais...</a>
         
    </ion-slide>

    <ion-slide class = "slides_image" >
      <ion-img src="/assets/imagens/4.jpg"></ion-img>

    </ion-slide>

  
    <ion-slide class = "slides_image" >
      <ion-img src="/assets/imagens/6.jpg"></ion-img>
     

    </ion-slide>

  </ion-slides>
</ion-card-content>
</ion-card>

</ion-content>